# Copy to env/.env.prod and fill real values
COMPOSE_PROJECT_NAME=frappe_prod

ERPNEXT_VERSION=v16.11.0
CUSTOM_IMAGE=icwinner/erpnext-designers
CUSTOM_TAG=v16-prod-001
PULL_POLICY=always

DB_PASSWORD=CHANGE_ME
DB_ROOT_PASSWORD=CHANGE_ME
ADMIN_PASSWORD=CHANGE_ME
DB_USER_HOST_LOGIN_SCOPE=%

FRAPPE_SITE_NAME_HEADER=ecklet
BOOTSTRAP_SITE_NAME=ecklet
HTTP_PUBLISH_PORT=8088
